apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: pro-be
  labels:
    app: backend
    component: api
spec:
  type: ClusterIP
  selector:
    app: backend
    component: api
  ports:
  - name: http
    port: 5000
    targetPort: 5000
    protocol: TCP
  sessionAffinity: None
