apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: backend-pdb
  namespace: pro-be
  labels:
    app: backend
    component: api
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: backend
