# Development environment values for frontend
image:
  tag: "5d34b45"

replicas: 1

resources:
  requests:
    cpu: 25m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 128Mi

probes:
  liveness:
    initialDelaySeconds: 10
    periodSeconds: 20
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 10

hpa:
  minReplicas: 1
  maxReplicas: 3
  cpuTargetUtilization: 80
  memoryTargetUtilization: 85
ingress:
  enabled: false
  hosts:
    - host: localhost
      paths:
        - path: /
          pathType: Prefix