apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  namespace: pro-db
  labels:
    app: postgresql
    component: database
type: Opaque
data:
  # postgres-password: cG9zdGdyZXM= (base64 encoded 'postgres')
  postgres-password: cG9zdGdyZXM=
  postgres-user: cG9zdGdyZXM=
  postgres-db: dGFza21hbmFnZXI=
