apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: pro-db
  labels:
    app: postgresql
    component: database
spec:
  clusterIP: None
  type: ClusterIP
  selector:
    app: postgresql
    component: database
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    protocol: TCP
  sessionAffinity: None
