apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend-pdb
  namespace: pro-fe
  labels:
    app: frontend
    component: web
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: frontend
