apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: pro-fe
  labels:
    app: frontend
    component: web
spec:
  type: ClusterIP
  selector:
    app: frontend
    component: web
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None
