apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  namespace: {{ .Values.namespace }}
  labels:
    app: postgresql
    component: database
type: Opaque
data:
  postgres-password: {{ .Values.secrets.postgres_password | b64enc }}
  postgres-user: {{ .Values.secrets.postgres_user | b64enc }}
  postgres-db: {{ .Values.secrets.postgres_db | b64enc }}
